body{
  font-family: 'Open Sans', sans-serif;
  margin: 0%;
}
h1{
  font-size: 35px;
}
h3{
  font-weight: 700px;
}
.flexible-container{
  display: flex;
}
.halfwidth{
  width: 50%;
}
.halfwidth img{
  width: 50%;
}
.intro{
  padding-top: 65px;
  padding-left: 150px;
}
#intro-heading{
  padding-left: 8px;
  border-radius: 2px;
  border-left: 4px solid #FF5959;
  
}
.link-button{
  border-radius: 3px;
  text-decoration: none;
  color: white;
  background-color: #FF5959;
  padding: 10px 30px;
}
#experiences-heading{
  text-align: center;
  padding-top: 20px;
  
}
.exp-boxes{
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 150px;
}
.exp-item{
  width: 33%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
}
.exp-boxes img{
width: 40%;
padding-top: 20px;
}
#left-box{
  background-color: #EDF5F6;
}
#middle-box{
  background-color: #FFEEEE;
}
#right-box{
  background-color: #FFF4D6;
}